@model Data.Models.Tenant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tenant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenantName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenantName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobileNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProofName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProofName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProofId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProofId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Designation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Designation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficeAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisteredDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisteredDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthlyFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthlyFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkcreatedbyNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkcreatedbyNavigation.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkmodifiedByNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkmodifiedByNavigation.Password)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PktenantId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
