@model IEnumerable<Data.Models.TenantBedMapping>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fkbed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkcreatedbyNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkmodifiedByNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fktenant)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fkbed.BedName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkcreatedbyNavigation.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkmodifiedByNavigation.Password)
            </td>
         
            <td>
                <a asp-action="Edit" asp-route-id="@item.PktenantBedId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PktenantBedId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PktenantBedId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
