@using static Data.ApplicationEnums;
@model Data.Models.Room

@{
    ViewData["Title"] = "Details";
}

<h1>Room Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomType)       
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfBeds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfBeds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fkbranch)
        </dt>
        <dd class = "col-sm-10">                
            @(Model.Fkbranch != null ? Model.Fkbranch.BranchName : "")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fkhostel)
        </dt>
        <dd class = "col-sm-10">          
            @(Model.Fkhostel != null ? Model.Fkhostel.HostelName : "")
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PkroomId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
